@charset "utf-8";

/* 기본 서비스폰트은 구글 본고딕 입니다 */
@import url(notosanskr.css);
@import url('https://webfontworld.github.io/SCoreDream/SCoreDream.css');


/***************************************************************

Author :Justin.J

IE6핵 : _ (언더바 핵)
IE7핵 : * (스타 핵)

IE8핵 전용
@media \0screen {
	#wrap{width:100%;}
}

***************************************************************/


/* Float bug */
.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix{
	zoom:1;
}
/* Hides from IE-mac \*/
* html .clearfix{height:1%;}


/************************************************
*		Reset									*
************************************************/
*{margin:0;padding:0;}
html{
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
html, body{
	width:100%;
	height:100%;
	background-color:#fff !important;
	word-break:break-all;
	*word-break:break-all;
	-ms-word-break:break-all;
}
body{
	margin:0;
	padding:0;
	font-family:Noto Sans KR;
	/*font-family:Noto Sans KR,"맑은고딕",Malgun Gothic,"돋음", Dotum, "굴림", Gulim, tahoma, AppleGothic, Sans-serif;*/
	/*font-family:Malgun Gothic, AppleGothic, Sans-serif;*/
	font-size:13px;
	color:#1c1c1c;
	line-height:150%;
	-webkit-text-size-adjust:none;
}
div, input, textarea, button{
	font-family:Noto Sans KR;
	/*font-family:Noto Sans KR,"맑은고딕",Malgun Gothic,"돋음", Dotum, "굴림", Gulim, tahoma, AppleGothic, Sans-serif;*/
	/*font-family:Malgun Gothic, AppleGothic, Sans-serif;*/
	font-size:13px;
	color:#1c1c1c;
	line-height:150%;
}
table{border-collapse:collapse;border-spacing:0;resize:none;-webkit-appearance:none;}

input{resize:none;}
input:focus{-webkit-user-modify:read-write-plaintext-only;}

input, textarea, button{z-index:0;}
input, button{border-radius:0;outline:none;box-shadow:none;-webkit-appearance: none;} /* safari */

a:link		{color:#1c1c1c;text-decoration:none !important;}
a:visited	{color:#1c1c1c;text-decoration:none !important;}
/*a:hover		{color:#2d82df !important;text-decoration:none !important;}*/
/*a:active	{color:#2d82df !important;text-decoration:none !important;}*/


ul, ol, ul li, ol li, dl, dt, dd, dt dd{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6{margin:0;padding:0;}
img, fieldset, iframe, input, textarea{border:0 none;}
img, input, select{vertical-align:middle;}
em, address{font-style:normal;}

img {
	width:100%;
	height:auto;
	/*width:auto\9; /* ie8 */
    -ms-interpolation-mode:bicubic;
}



.sliderkit{text-align:left;position:relative;overflow:hidden;}
.sliderkit a,
.sliderkit a:hover{text-decoration:none;}
.sliderkit a:focus{/*outline:1px dotted #000; optional*/}
.sliderkit img{border:0;}
.sliderkit .sliderkit-btn{z-index:10;}


textarea{
	scrollbar-highlight-color:#ffffff;
	scrollbar-shadow-color:#ffffff;
	scrollbar-arrow-color:#ffffff;
	scrollbar-face-color:#cccccc;
	scrollbar-3dlight-color:#999;
	scrollbar-darkshadow-color:#999;
	scrollbar-track-color:#ffffff;
}

iframe{
	scrollbar-face-color:#ffffff;
	scrollbar-shadow-color:#d2e5f4;
	scrollbar-highlight-color:#d2e5f4;
	scrollbar-3dlight-color:#ffffff;
	scrollbar-darkshadow-color:#ffffff;
	scrollbar-track-color:#ffffff;
	scrollbar-arrow-color:#d2e5f4;
}


/********************* Png *********************/
.png24 {tmp:expression(setPng24(this));}


/*************** Image Link Clear ***************/



/*************** Normalize ***************/
header, section, article, main, nav, aside, details, figcaption, figure, hgroup, summary, footer{display:block;}
audio, canvas, video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}

a:focus{outline:0;}
a:hover,
a:active{outline:0;}

abbr[title]{border-bottom:1px dotted;}
b, strong{font-weight:bold;}
dfn{font-style:italic;}
hr{height:0;-moz-box-sizing:content-box;box-sizing:content-box;}
mark{background:#ce2c38;color:#efefef;}
code, kbd, pre, samp{font-size:1em;}
pre{white-space:pre-wrap;}
small{font-size:80%;}

sub,
sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}

svg:not(:root){overflow:hidden;}
figure{margin:0;}
fieldset{margin:0;padding:0;}
.blind,legend{width:1px;height:1px;position:absolute;left:-5000px;top:-5000px;display:block;overflow:hidden;}
legend{*width:0;border:0;padding:0;}
hr{display:none}

button::-moz-focus-inner{padding:0;border:0}
button, button img{border:none;}
button {border:0 none;background-color:transparent;cursor:pointer;cursor:pointer;_cursor /**/:hand;}
button::-moz-focus-inner{padding:0;border:0}



/*************** Form ***************/
form {margin:0;padding:0;}
label {margin:0;padding:2px 0 0;font-size:1.1em;font-weight:300;cursor:pointer;display:block;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
select,
textarea {
	width:100%;
	padding:0 15px;
	-moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	-ms-appearance:none;
	appearance:none;
	-moz-transition:border-color 0.2s ease-in-out;
	-webkit-transition:border-color 0.2s ease-in-out;
	-o-transition:border-color 0.2s ease-in-out;
	-ms-transition:border-color 0.2s ease-in-out;
	transition:border-color 0.2s ease-in-out;
	background-color:transparent;
	border:1px solid #d8d8d8;
	/*border-radius: 4px;*/
	/* [disabled]border: 1px  solid rgba(0, 0, 0, 0.3); */
	text-decoration:none;
	font-size:14px;
	font-weight:400;
	color:#1c1c1c;
	display:block;
	outline:0;
}

textarea {padding:10px;overflow:hidden !important;}

input[type="text"]:invalid,
input[type="number"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
select:invalid,
textarea:invalid {
	box-shadow:none;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
	border-color:#999;
	color:#666;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
select {
	height:40px;
}

input[type="checkbox"],
input[type="radio"] {
	-moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	-ms-appearance:none;
	appearance:none;
	opacity:0;
	display:block;
	float:left;
	z-index:-1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
	padding-left:18px;
	text-decoration:none;
	font-size:1em;
	font-weight:200;
	/*color:#FFF;*/
	position:relative;
	cursor:pointer;
	display:inline-block;
}


input[type="checkbox"] + label:before{
	-moz-osx-font-smoothing:grayscale;
	-webkit-font-smoothing:antialiased;
	text-transform:none !important;
}
input[type="checkbox"] + label:before,
input[type="radio"] + label:before{
	content:'';
	background-size:15px;
	display:block;
	text-align:center;
	color:#666;
	line-height:15px;
	display:inline-block;
	position:absolute;
	left:0;
	top:15px;
}
input[type="checkbox"]:checked + label:before {
	color:#2e82e0;
	content:'';
	background-size:15px;
}
input[type="checkbox"]:checked + label b{color:#2e82e0;}
/*
input[type="radio"] + label:before {
	width:23px;
	height:23px;
	content:'';
	background:url(../images/icon/set_list_unchecked.png) right 50% no-repeat;
	background-size:23px;
	display:block;
	text-align:center;
	color:#666;
	line-height:23px;
	display:inline-block;
	position:absolute;
	right:0;
	top:0;
}
input[type="radio"]:checked + label:before {
	color:#2e82e0;
	content:'';
	background:url(../images/icon/set_list_checked.png) right 50% no-repeat;
	background-size:23px;
}
*/
input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
	border-color:#999;
}

input[type="checkbox"] + label:before {
	/*border-radius:4px;*/
}

input[type="radio"] + label:before {
	/*border-radius:100%;*/
}

::-webkit-input-placeholder {
	color:#b4b4b4;
	opacity:1.0;
}

:-moz-placeholder {
	color:#b4b4b4;
	opacity:1.0;
}

::-moz-placeholder {
	color:#b4b4b4;
	opacity:1.0;
}

:-ms-input-placeholder {
	color:#b4b4b4;
	opacity:1.0;
}

.formerize-placeholder {
	color:#b4b4b4;
	opacity:1.0;
}

.select-wrapper {
	height:45px;
	margin:0;
	background:url(../images/icon/category_select.png) right 50% no-repeat;
	background-size:17px 9px;
	text-decoration:none;
	font-size:16px;
	color:#2e82e0;
	line-height:45px;
	display:block;
	position:relative;
}


.select-wrapper:before {
	-moz-osx-font-smoothing:grayscale;
	-webkit-font-smoothing:antialiased;
	text-transform:none !important;
}

.select-wrapper:before {
	width:50px;
	height:50px;
	text-align:center;
	color:#1c1c1c;
	line-height:50px;
	pointer-events:none;
	position:absolute;
	right:0;
	top:-4px;
	display:block;
}

.select-wrapper select::-ms-expand {
	display:none;
}

.select-wrapper select{
	height:48px;
}

.select-wrapper1 {
	height:45px;
	margin:0;
	background:url(../images/icon/category_select.png) right 50% no-repeat;
	background-size:17px 9px;
	text-decoration:none;
	font-size:16px;
	color:#2e82e0;
	line-height:45px;
	display:block;
	position:relative;
}


.select-wrapper1:before {
	-moz-osx-font-smoothing:grayscale;
	-webkit-font-smoothing:antialiased;
	text-transform:none !important;
}

.select-wrapper1:before {
	width:50px;
	height:50px;
	text-align:center;
	color:#1c1c1c;
	line-height:50px;
	pointer-events:none;
	position:absolute;
	right:0;
	top:-4px;
	display:block;
}

.select-wrapper1 select::-ms-expand {
	display:none;
}

.select-wrapper1 select{
	height:48px;
}




.select option {
	background-color:#fff;
	color:#666;
}

.select:focus::-ms-value {
	background:transparent;
}



/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
	height:2.5em;
	margin:5px 1px;
	padding:0 1.4em;
	-moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	-ms-appearance:none;
	appearance:none;
	-moz-transition:background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	-webkit-transition:background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	-o-transition:background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	-ms-transition:background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	transition:background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	background-color:#f6f6f6;
	border-radius:3px;
	border:0;
	box-shadow:inset 0 0 0 1px rgba(0, 0, 0, 0.3);
	text-align:center;
	text-decoration:none;
	white-space:nowrap;
	font-weight:300;
	color:#666;
	line-height:2.5em;
	cursor:pointer;
	display:inline-block;
}

input[type="submit"]:hover, input[type="submit"]:active,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="button"]:hover,
input[type="button"]:active,
.button:hover,
.button:active {
	box-shadow:inset 0 0 0 1px #666;
	color:#666;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
.button:active {
	background-color:rgba(228, 76, 101, 0.15);
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
.button.icon:before {
	margin-right:0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
.button.fit {
	width:100%;
	margin:0 0 1em 0;
	display:block;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
.button.small {
	height:2em !important;
	margin:0 3px !important;
	padding:0 0.8em !important;
	/*border-radius:3px !important;*/
	font-size:0.7em !important;
	font-weight:700 !important;
	color:#333 !important;
	line-height:2em !important;
}

input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
.button.big {
	background-color:#333;
	box-shadow:none;
	color:#fff !important;
}

input[type="submit"].big:hover,
input[type="reset"].big:hover,
input[type="button"].big:hover,
.button.big:hover {
	background-color:#666;
}

input[type="submit"].big:active,
input[type="reset"].big:active,
input[type="button"].big:active,
.button.special:active {
	background-color:#000;
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
.button.special {
	background-color:#c00000;
	box-shadow:none;
	color:#fff !important;
}

input[type="submit"].special:hover,
input[type="reset"].special:hover,
input[type="button"].special:hover,
.button.special:hover {
	background-color:#e00101;
}

input[type="submit"].special:active,
input[type="reset"].special:active,
input[type="button"].special:active,
.button.special:active {
	background-color:#e00226;
}

input[type="submit"].disabled, input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
.button.disabled,
.button:disabled {
	background-color:rgba(0, 0, 0, 0.3) !important;
	box-shadow:none !important;
	color:#666 !important;
	cursor:default;
	opacity:0.25;
}

input[type="submit"].nor_black,
input[type="reset"].nor_black,
input[type="button"].nor_black,
a.nor_black {
	width:145px;
	height:40px;
	margin:0;
	padding:0;
	background-color:#222;
	border-radius:0;
	text-align:center;
	font-size:14px;
	color:#fff;
	line-height:40px;
	display:block;
}

input[type="submit"].nor_black:hover,
input[type="reset"].nor_black:hover,
input[type="button"].nor_black:hover,
a.nor_black:hover {
	background-color:#111;
}

input[type="submit"].nor_black:active,
input[type="reset"].nor_black:active,
input[type="button"].nor_black:active,
a.nor_black:active {
	background-color:#000;
}

.btn_search {
	height:2.9em;
	text-decoration:none;
	color:#666;
	display:block;
	position:relative;
}

.btn_search:before {
	-moz-osx-font-smoothing:grayscale;
	-webkit-font-smoothing:antialiased;
	font-family:FontAwesome;
	font-style:normal;
	font-weight:normal;
	text-transform:none !important;
}

.btn_search:before {
	width:2em;
	height:2.9em;
	content:'\f002';
	text-align:center;
	color:#666;
	line-height:2.9em;
	pointer-events:none;
	position:absolute;
	left:25%;
	top:0;
	display:block;
}




/************************************************
*		BOTTON									*
************************************************/
ul.actions {
	width:100%;
	padding-left:0;
	list-style:none;
	cursor:default;
}

ul.actions li {
	width:100%;
	display:inline-block;
	padding:0 1em 0 0;
	vertical-align:middle;
}

ul.actions li:last-child {
	padding-right:0;
}

ul.actions.small li {
	padding:0 0.5em 0 0;
}

ul.actions.vertical li {
	display:block;
	padding:1em 0 0 0;
}

ul.actions.vertical li:first-child {
	padding-top:0;
}

ul.actions.vertical li > * {
	margin-bottom:0;
}

ul.actions.vertical.small li {
	padding:0.5em 0 0 0;
}

ul.actions.vertical.small li:first-child {
	padding-top:0;
}

ul.actions.fit {
	width:calc(100% + 1em);
	margin-left:-1em;
	padding:0;
	table-layout:fixed;
	display:table;
}

ul.actions.fit li {
	display:table-cell;
	padding:0 0 0 1em;
}

ul.actions.fit li > * {
	margin-bottom:0;
}

ul.actions.fit.small {
	width:calc(100% + 0.5em);
	margin-left:-0.5em;
}

ul.actions.fit.small li {
	padding:0 0 0 0.5em;
}





/* ETC Style */
.w10p{width:10% !important;}
.w15p{width:15% !important;}
.w20p{width:20% !important;}
.w25p{width:25% !important;}
.w30p{width:30% !important;}
.w33p{width:33.3% !important;}
.w34p{width:33.4% !important;}
.w35p{width:35% !important;}
.w40p{width:40% !important;}
.w45p{width:45% !important;}
.w50p{width:50% !important;}
.w55p{width:55% !important;}
.w60p{width:60% !important;}
.w65p{width:65% !important;}
.w70p{width:70% !important;}
.w75p{width:75% !important;}
.w80p{width:80% !important;}
.w85p{width:85% !important;}
.w90p{width:90% !important;}
.w95p{width:95% !important;}
.w100p{width:100% !important;}



.mt0px{margin-top:0px !important;}
.mt5px{margin-top:5px !important;}
.mt10px{margin-top:10px !important;}
.mt15px{margin-top:15px !important;}
.mt20px{margin-top:20px !important;}
.mt25px{margin-top:25px !important;}
.mt30px{margin-top:30px !important;}
.mt35px{margin-top:35px !important;}
.mt40px{margin-top:40px !important;}
.mt45px{margin-top:45px !important;}
.mt50px{margin-top:50px !important;}
.mt60px{margin-top:60px !important;}
.mt70px{margin-top:70px !important;}
.mt80px{margin-top:80px !important;}
.mt90px{margin-top:90px !important;}
.mt100px{margin-top:100px !important;}
.mt110px{margin-top:110px !important;}
.mt120px{margin-top:120px !important;}
.mt130px{margin-top:130px !important;}
.mt140px{margin-top:140px !important;}
.mt150px{margin-top:150px !important;}
.mt160px{margin-top:160px !important;}
.mt170px{margin-top:170px !important;}
.mt180px{margin-top:180px !important;}
.mt190px{margin-top:190px !important;}
.mt200px{margin-top:200px !important;}

.ml0px{margin-left:0px !important;}
.ml5px{margin-left:5px !important;}
.ml10px{margin-left:10px !important;}
.ml15px{margin-left:15px !important;}
.ml20px{margin-left:20px !important;}
.ml25px{margin-left:25px !important;}
.ml30px{margin-left:30px !important;}
.ml35px{margin-left:35px !important;}
.ml40px{margin-left:40px !important;}
.ml45px{margin-left:45px !important;}
.ml50px{margin-left:50px !important;}
.ml60px{margin-left:60px !important;}
.ml70px{margin-left:70px !important;}
.ml80px{margin-left:80px !important;}
.ml90px{margin-left:90px !important;}
.ml100px{margin-left:100px !important;}
.ml110px{margin-left:110px !important;}
.ml120px{margin-left:120px !important;}
.ml130px{margin-left:130px !important;}
.ml140px{margin-left:140px !important;}
.ml150px{margin-left:150px !important;}
.ml160px{margin-left:160px !important;}
.ml170px{margin-left:170px !important;}
.ml180px{margin-left:180px !important;}
.ml190px{margin-left:190px !important;}
.ml200px{margin-left:200px !important;}

.mr0px{margin-right:0px !important;}
.mr5px{margin-right:5px !important;}
.mr10px{margin-right:10px !important;}
.mr15px{margin-right:15px !important;}
.mr20px{margin-right:20px !important;}
.mr25px{margin-right:25px !important;}
.mr30px{margin-right:30px !important;}
.mr35px{margin-right:35px !important;}
.mr40px{margin-right:40px !important;}
.mr45px{margin-right:45px !important;}
.mr50px{margin-right:50px !important;}
.mr60px{margin-right:60px !important;}
.mr70px{margin-right:70px !important;}
.mr80px{margin-right:80px !important;}
.mr90px{margin-right:90px !important;}
.mr100px{margin-right:100px !important;}
.mr110px{margin-right:110px !important;}
.mr120px{margin-right:120px !important;}
.mr130px{margin-right:130px !important;}
.mr140px{margin-right:140px !important;}
.mr150px{margin-right:150px !important;}
.mr160px{margin-right:160px !important;}
.mr170px{margin-right:170px !important;}
.mr180px{margin-right:180px !important;}
.mr190px{margin-right:190px !important;}
.mr200px{margin-right:200px !important;}

.mb0px{margin-bottom:0px !important;}
.mb5px{margin-bottom:5px !important;}
.mb10px{margin-bottom:10px !important;}
.mb15px{margin-bottom:15px !important;}
.mb20px{margin-bottom:20px !important;}
.mb25px{margin-bottom:25px !important;}
.mb30px{margin-bottom:30px !important;}
.mb35px{margin-bottom:35px !important;}

.mb40px{margin-bottom:40px !important;}
.mb45px{margin-bottom:45px !important;}
.mb50px{margin-bottom:50px !important;}
.mb60px{margin-bottom:60px !important;}
.mb70px{margin-bottom:70px !important;}
.mb80px{margin-bottom:80px !important;}
.mb90px{margin-bottom:90px !important;}
.mb100px{margin-bottom:100px !important;}
.mb110px{margin-bottom:110px !important;}
.mb120px{margin-bottom:120px !important;}
.mb130px{margin-bottom:130px !important;}
.mb140px{margin-bottom:140px !important;}
.mb150px{margin-bottom:150px !important;}
.mb160px{margin-bottom:160px !important;}
.mb170px{margin-bottom:170px !important;}
.mb180px{margin-bottom:180px !important;}
.mb190px{margin-bottom:190px !important;}
.mb200px{margin-bottom:200px !important;}



.pt0px{padding-top:0px !important;}
.pt5px{padding-top:5px !important;}
.pt10px{padding-top:10px !important;}
.pt15px{padding-top:15px !important;}
.pt20px{padding-top:20px !important;}
.pt25px{padding-top:25px !important;}
.pt30px{padding-top:30px !important;}
.pt35px{padding-top:35px !important;}
.pt40px{padding-top:40px !important;}
.pt45px{padding-top:45px !important;}
.pt50px{padding-top:50px !important;}
.pt60px{padding-top:60px !important;}
.pt70px{padding-top:70px !important;}
.pt80px{padding-top:80px !important;}
.pt90px{padding-top:90px !important;}
.pt100px{padding-top:100px !important;}
.pt110px{padding-top:110px !important;}
.pt120px{padding-top:120px !important;}
.pt130px{padding-top:130px !important;}
.pt140px{padding-top:140px !important;}
.pt150px{padding-top:150px !important;}
.pt160px{padding-top:160px !important;}
.pt170px{padding-top:170px !important;}
.pt180px{padding-top:180px !important;}
.pt190px{padding-top:190px !important;}
.pt200px{padding-top:200px !important;}

.pl0px{padding-left:0px !important;}
.pl5px{padding-left:5px !important;}
.pl10px{padding-left:10px !important;}
.pl15px{padding-left:15px !important;}
.pl20px{padding-left:20px !important;}
.pl25px{padding-left:25px !important;}
.pl30px{padding-left:30px !important;}
.pl35px{padding-left:35px !important;}
.pl40px{padding-left:40px !important;}
.pl45px{padding-left:45px !important;}
.pl50px{padding-left:50px !important;}
.pl60px{padding-left:60px !important;}
.pl70px{padding-left:70px !important;}
.pl80px{padding-left:80px !important;}
.pl90px{padding-left:90px !important;}
.pl100px{padding-left:100px !important;}
.pl110px{padding-left:110px !important;}
.pl120px{padding-left:120px !important;}
.pl130px{padding-left:130px !important;}
.pl140px{padding-left:140px !important;}
.pl150px{padding-left:150px !important;}
.pl160px{padding-left:160px !important;}
.pl170px{padding-left:170px !important;}
.pl180px{padding-left:180px !important;}
.pl190px{padding-left:190px !important;}
.pl200px{padding-left:200px !important;}

.pr0px{padding-bottom:0px !important;}
.pr5px{padding-bottom:5px !important;}
.pr10px{padding-right:10px !important;}
.pr15px{padding-right:15px !important;}
.pr20px{padding-right:20px !important;}
.pr25px{padding-right:25px !important;}
.pr30px{padding-right:30px !important;}
.pr35px{padding-right:35px !important;}
.pr40px{padding-right:40px !important;}
.pr45px{padding-right:45px !important;}
.pr50px{padding-right:50px !important;}
.pr60px{padding-right:60px !important;}
.pr70px{padding-right:70px !important;}
.pr80px{padding-right:80px !important;}
.pr90px{padding-right:90px !important;}
.pr100px{padding-right:100px !important;}
.pr110px{padding-right:110px !important;}
.pr120px{padding-right:120px !important;}
.pr130px{padding-right:130px !important;}
.pr140px{padding-right:140px !important;}
.pr150px{padding-right:150px !important;}
.pr160px{padding-right:160px !important;}
.pr170px{padding-right:170px !important;}
.pr180px{padding-right:180px !important;}
.pr190px{padding-right:190px !important;}
.pr200px{padding-right:200px !important;}

.pb0px{padding-bottom:0px !important;}
.pb5px{padding-bottom:5px !important;}
.pb10px{padding-bottom:10px !important;}
.pb15px{padding-bottom:15px !important;}
.pb20px{padding-bottom:20px !important;}
.pb25px{padding-bottom:25px !important;}
.pb30px{padding-bottom:30px !important;}
.pb35px{padding-bottom:35px !important;}
.pb40px{padding-bottom:40px !important;}
.pb45px{padding-bottom:45px !important;}
.pb50px{padding-bottom:50px !important;}
.pb60px{padding-bottom:60px !important;}
.pb70px{padding-bottom:70px !important;}
.pb80px{padding-bottom:80px !important;}
.pb90px{padding-bottom:90px !important;}
.pb100px{padding-bottom:100px !important;}
.pb110px{padding-bottom:110px !important;}
.pb120px{padding-bottom:120px !important;}
.pb130px{padding-bottom:130px !important;}
.pb140px{padding-bottom:140px !important;}
.pb150px{padding-bottom:150px !important;}
.pb160px{padding-bottom:160px !important;}
.pb170px{padding-bottom:170px !important;}
.pb180px{padding-bottom:180px !important;}
.pb190px{padding-bottom:190px !important;}
.pb200px{padding-bottom:200px !important;}


.black{color:#000 !important;}
.lgray{color:#ccc !important;}
.sgray{color:#f1f1f1 !important;}
.dgray{color:#333 !important;}
.wgray{color:#696969 !important;}
.gray{color:#999 !important;}
.red{color:#f80d0d !important;}
.rred{color:#e6b9b8 !important;}
.dred{color:#c3090e !important;}
.blue{color:#2d82df !important;}
.nblue{color:#1c2a64 !important;}
.purple{color:#643abc !important;}
.dblue{color:#3799ba !important;}
.lgreen{color:#05cfb5 !important;}
.green{color:#36cfbb !important;}
.yellow{color:#fff200 !important;}
.orange{color:#f2700e !important;}
.white{color:#fff !important;}

.bg_black{background-color:#000 !important;}
.bg_lgray{background-color:#ccc !important;}
.bg_sgray{background-color:#f1f1f1 !important;}
.bg_dgray{background-color:#333 !important;}
.bg_wgray{background-color:#696969 !important;}
.bg_gray{background-color:#999 !important;}
.bg_red{background-color:#f80d0d !important;}
.bg_rred{background-color:#e6b9b8 !important;}
.bg_dred{background-color:#c3090e !important;}
.bg_blue{background-color:#2d82df !important;}
.bg_dblue{background-color:#3799ba !important;}
.bg_lgreen{background-color:#05cfb5 !important;}
.bg_green{background-color:#36cfbb !important;}
.bg_yellow{background-color:#fff200 !important;}
.bg_orange{background-color:#f2700e !important;}
.bg_white{background-color:#fff !important;}

.ln_black{border:1px solid #000 !important;}
.ln_lgray{border:1px solid #ccc !important;}
.ln_sgray{border:1px solid #f1f1f1 !important;}
.ln_dgray{border:1px solid #333 !important;}
.ln_wgray{border:1px solid #696969 !important;}
.ln_gray{border:1px solid #999 !important;}
.ln_red{border:1px solid #f80d0d !important;}
.ln_rred{border:1px solid #e6b9b8 !important;}
.ln_dred{border:1px solid #c3090e !important;}
.ln_blue{border:1px solid #2d82df !important;}
.ln_dblue{border:1px solid #3799ba !important;}
.ln_lgreen{border:1px solid #05cfb5 !important;}
.ln_green{border:1px solid #36cfbb !important;}
.ln_yellow{border:1px solid #fff200 !important;}
.ln_orange{border:1px solid #f2700e !important;}
.ln_white{border:1px solid #fff !important;}


.bg_w_over{background:#fff;opacity:0.5;filter:alpha(opacity=50);-ms-filter:alpha(opacity=50);-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';-moz-opacity:0.5;-khtml-opacity:0.5;filter:alpha(opacity=50);}
.bg_b_over{background:#000;opacity:0.5;filter:alpha(opacity=50);-ms-filter:alpha(opacity=50);-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';-moz-opacity:0.5;-khtml-opacity:0.5;filter:alpha(opacity=50);}
.bg_g_over{background:#000;opacity:0.1;filter:alpha(opacity=10);-ms-filter:alpha(opacity=10);-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=10)';-moz-opacity:0.1;-khtml-opacity:0.1;filter:alpha(opacity=10);}


.hltxt{text-decoration:line-through !important;}
.ultxt{text-decoration:underline !important;}

.dot_line{height:1px;margin:0;padding:0;border:1px dotted #dcdcdc;}
.top_line{height:2px;background-color:#dcdcdc;}
.cut_line{height:1px;margin:0;background-color:#dcdcdc;}
.c_line{ border-bottom:1px solid #dcdcdc;}
.cut_bline{height:1px;margin:0;background-color:#2d82df;}
.half_line{height:1px;margin:10px 0;background-color:#dcdcdc;}
.noline{border:none !important;border:0 !important;}



.wn{text-overflow:ellipsis !important;*text-overflow:ellipsis !important;white-space:nowrap !important;*white-space:nowrap !important;display:block !important;*display:block !important;overflow:hidden !important;*overflow:hidden !important;}

.clear{width:100% !important;height:0 !important;margin:0 !important;padding:0 !important;font-size:0 !important;line-height:0 !important;display:block !important;float:none !important;clear:both !important;overflow:hidden !important;}